<phpunit>
	<testsuites>
		<testsuite name="PetRescueAbqTest">
			<!--<file>ProfileTest.php</file>-->
			<!--<file>MessageTest.php</file>-->
			<!--<file>OrganizationTest.php</file>-->

		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>