<phpunit>
	<testsuites>
		<testsuite name="PetRescueAbqTest">
			<file>ProfileTest.php</file>
			<file>OrganizationTest.php</file>
			<file>Post.Test</file>
			<file>MessageTest.php</file>
			<file>ImageTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>