html, body {
	color: #000;
}

a,
a:visited,
a:hover,
a:active {
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
}

/********************************************
* Spacers
********************************************/
@media only screen and (min-width: 768px) {
	.text-right-sm {
		text-align: right;
	}
}

/****************************************
* Home Page - Welcome
*****************************************/
body {
	background: url("app/images/puppyimg.jpg") no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	padding-bottom: 100px;
}

main.bg .jumbotron {
	background: transparent;
	border-radius: 0;
}

main.bg .jumbotron > h1 {
	color: #fff;
	font-family: Times, serif;
	text-shadow: 0 0 10px #000000;
	text-transform: uppercase;
}

main.bg .jumbotron .lead {
	color: White;
	display: inline-block;
	font-weight: 800;
	padding: 5px 25px;
}

#login {
	margin: 6px 3px;
}

#tagline {
	font-family: 'Pacifico', cursive;
}

#profilebkg {
	opacity: .5;
}







